<!--<ion-view id="Videoplayer" class=" " ng-init="vp.PlayVideo()">-->
<ion-view hide-nav-bar="true" id="Videoplayer" class=" " style="background-color:black;">
  <br><br><br>
  <ion-content  overflow-scroll="false" >
    <br><br>
    <i class="ion-android-close" ng-click="vp.ExitFromVideoPage();" ></i>
    <div class="container">
      <div class="videocontainer" id="container4video">
        <video id="giblibvideos" class="video-js vjs-default-skin vjs-big-play-centered"></video>
      </div>
    </div>
  </ion-content>
</ion-view>
