
          <ion-nav-view>
            <ion-content class="has-header has-footer" >
              <h4 class="customBlack center headerFont featured">Featured Videos </h4>

                <div class="list card cardMain itemTop" >
                <video-detail video="video" ng-repeat="video in featuredVideos"></video-detail>
                  </div>
            <!--<tab-slide-box tab="0">
              <div class="tsb-icons">
                <div c lass="tsb-ic-wrp">
                  <ion-scroll direction="x" class="tsb-hscroll">
                    <a href="javascript:;" class="ion-home1 "><h5 class="customBlack "><b>FEATURED</b></h5></a>
                    <a href="javascript:;" class="ion-ios-game-controller-b1 "><h5 class="customBlack"><b>BARIATRIC</b></h5></a>
                    <a href="javascript:;" class="ion-email1 "><h5 class="customBlack"><b>COLORECTAL</b></h5></a>
                    <a href="javascript:;" class="ion-model-s1 "><h5 class="customBlack"><b>CARDIOTHORACIC</b></h5></a>
                    <a href="javascript:;" class="ion-person1 "><h5 class="customBlack"><b>GENERAL SURGERY</b></h5></a>
              </ion-scroll>
                  </div>
                </div>

              <ion-slide-box active-slide="next" show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide class="slideHeight slideColor" id="sw0">
                  <div class="list card cardMain itemTop " ng-repeat="video in featuredVideos">
                    <video-detail video="video"></video-detail>
                  </div>

                </ion-slide>

                <ion-slide class="slideHeight" id="sw1">
                  <div class="list card cardMain itemTop " ng-repeat="video in bariatricVideos">

                    <video-detail video="video"></video-detail>
                  </div>
                </ion-slide>
                <ion-slide class="slideHeight" id="sw2">
                  <div class="list card cardMain itemTop " ng-repeat="video in colorectalVideos">

                    <video-detail video="video"></video-detail>
                  </div>
                </ion-slide>
                <ion-slide class="slideHeight" id="sw3">
                  <div class="list card cardMain itemTop " ng-repeat="video in cardiothoracicVideos">

                    <video-detail video="video"></video-detail>
                  </div>
                </ion-slide>
                <ion-slide class="slideHeight" id="sw4">
                  <div class="list card cardMain itemTop " ng-repeat="video in generalSurgeryVideos">

                    <video-detail video="video"></video-detail>

                  </div>
                </ion-slide>

              </ion-slide-box>
            </tab-slide-box>-->
          </ion-content>

          </ion-nav-view>

