body {
 background-image: url("images/boston.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 overflow-x: hidden; 
}
#head {
 background-color: #fcf1f1;
 color: inherit;
 margin-bottom: 0px;
 border-radius: 0px;
}
#foot {
 background-color: #ff0012;
 color: inherit;
 margin-bottom: 0px; 
}
.navbar.navbar-default{
 background-color: #c7d6b0;
 background: rgba(199, 214, 176, 0.55);  
}
.navbar { 
 margin-bottom: 0px;
 min-height: 50px;
 position: relative;
}
#menu li a {
 color: #fbad8b;
 padding: 15px 45px 15px 35px;
}
.mynav { 
 font-weight: 900;
 font-size: 17px; 
}
.jumbotron{
 margin-bottom: 0px;
 padding: 15px 0px 15px 0px;
}
#containerhead{
 background-color: #92714c;
 margin-bottom: 0px;
 background: rgba(146, 113, 76, 0.55);
 border-radius: 0px; 
}
#main{
 border-radius: 0px;
 background-color: #ffffff;
 margin-bottom: -20px; 
}
#maintest{
 border-radius: 0px;
 background-color: #ffffff;
 margin-top: -20px; 
}
.guider{
 width: 60px; 
}
.portraits{
 height: 300px;
 width: 300px; 
}
.testimonials{
 color: black;
 font-size: 75%;
 font-family: Times New Roman, Georgia, Serif; 
}
.testimonials p{
	font-style: italic;
}
#menu ul{
 list-style: none;
}
#menu ul li{
 display: inline; 
}
#menu a:hover{
 background-color: yellow; 
}
.social{
 margin-right: -10px;
}
.social ul li{
 list-style-type:none;
 margin-right:10px;
 width:30px;
 height:30px;
}
.show-menu{ 
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-decoration: none;
 color: #FFFFFF;
 background: #19c589;
 padding: 10px 0;
 display: none; 
}
input[type=checkbox]:checked ~ #menu{
 display: block; 
}
.top-right{
 margin-right:10px;
}
.top-right p{
 font-size:20;
 text-align:right; 
 margin: 10px 0 5px;
}
.ins-drp{
 margin-right:-3px;
 padding-right:0px;
}
.right-ok{
 padding-left:0px;
 margin-left:0px;
}
#InsType{
 width: 250px;
 padding-right:0px;
 height: 38px; 
 margin: 10px -3px 0 0;
}
.navbar-nav > li > a {
 padding: 16px 0px 5px 0px;
}
.morebtn{
 background-color: #FFFFFF;
 border-radius: 10px;
 border: 3px solid #000;
 color: #ff0000; 
 position: absolute;
 bottom: 0px;
}
.chev{
 left: 5px;
 top: 2px; 
}
.full-circle {
 background-color:#c06;
 height:300px;
 width:300px;
 border-radius:155px; 
}
#separator{
 border:3px solid red;
}
#ads{
 color:#f8a29c;
 font-size:60px; 
}
h2{
 color:blue; 
}
.cntr {
 text-align:center; 
}
h1 {
 text-align:center;
 text-decoration: underline; 
}
.fltrt {
 float:right; 
}
.fltlft {
 float:left; 
}
.bisect, a.navbar-brand, input[type=checkbox] {
 display:none; 
}
.brad{
 border-radius: 0px; 
}
#branch {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
#branch li {
 display: inline;
 color: #ffffff;
 font-size: 20px;
 margin: 0 3px 0 3px;
 padding: 0 10px 0 10px;
border-right:2px solid #fff;
}
#branch li.spt{
 border-right:none !important;
}
.ftr{
 position: relative;
 height: 500px;
}