
<ion-footer-bar>
  <div class="tabs ipadtabs" id="tabSelect">
    <a class="tab-item active" ng-model="tab1" ui-sref="app.videoList" style="background:url('img/btn_menu@2x.png');">
      <img class="footeripadlogo" src="img/giblib_logo@2x.png"  width=80px style="margin-top:7px;"/>
    </a>
    <a class="tab-item" ui-sref="app.videoFavorites" style="background:url('img/btn_menu@2x.png');">
      <i class="icon ion-heart footeripad"></i>
    </a>
    <a class="tab-item" ui-sref="app.profile" style="background:url('img/btn_menu@2x.png');">
      <i  class="icon ion-person footeripad"></i>
    </a>
    <a class="tab-item" ui-sref="app.more" style="background:url('img/btn_menu@2x.png');">
      <i  class="icon ion-more footeripad"></i>
    </a>
  </div>
</ion-footer-bar>
